<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <sessionState mode="InProc" timeout="100"/>

    </system.web>
  
    <connectionStrings>
      <add name="MyDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='D:\SEM IV\C#\WebSiteV01\App_Data\SoulDB.mdf';Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
</configuration>
